@use '../base/settings' as *;

button {
	&.category-buttons {
		background-color: $navBackground;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: none;
		font-family: $font;
		color: transparent;
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center;
		&:active {
			background-color: $buttonColor;
		}
	}
	&#popular {
		background-image: url(./../../assets/popular.svg);
	}

	&#upcoming {
		background-image: url(./../../assets/upcoming.svg);
	}

	&#top_rated {
		background-image: url(./../../assets/top-rated.svg);
	}

	&#now_playing {
		background-image: url(./../../assets/now-playing.svg);
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	font-size: 0.8rem;
}

.category-buttons-section ul {
	display: flex;
	gap: 0.7rem;
	margin: 1rem 0;
	padding: 0;
	justify-content: center;

	li {
		list-style-type: none;
	}
}

button.active {
	background-color: $buttonColor;
}

/////////////////// change breakpoint! ///////////////////
@media (min-width: 45em) {
	.category-buttons-section ul {
		gap: 2rem;

		.button-container {
			gap: 1rem;
			font-size: 1rem;
		}

		button {
			&.category-buttons {
				width: 180px;
				height: 45px;
				border-radius: 50px;
				color: $fontWhite;
				background-size: 25px;
				background-position: 25px;
				text-align: center;
				padding-left: 30px;
				font-size: 1.1rem;
				&:active {
					background-color: $buttonColor;
				}
			}
		}

		.button-label {
			display: none;
		}
	}
}
