// _hero.scss
@use '../base/settings' as *;

.hero {
  position: relative;

  &-image-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: rgba(23, 17, 65, 0.8);
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 37.5rem;
    &-movie-title {
      padding-bottom: 2rem;
      text-align: center;
    }

    &-button {
      padding: 0.5rem 1rem;
      background-color: $buttonColor;
      margin: 1rem;
      border-radius: 0.5rem;
      border: none;
      color: $fontWhite;
      font-size: 1.1rem;
      font-family: $font;
      background-size: 18px;
      background-position: 20px;
      text-align: center;
      font-size: 1.1rem;
      background-repeat: no-repeat;
      border-radius: 50px;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: 45em) {
    &-image-container {
      // height: 70vh;
      margin-bottom: 1rem;
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

ul.slick-dots {
  position: absolute;
  right: 0;
  bottom: 30px;
}

li.slick-active {
  background-color: white;
  border-radius: 50%;
}

.slick-dots button {
  gap: 4rem;
}

.slick-dots {
  padding: 20px;
}

.hero .slick-dots li button:before {
  content: '';
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.slick-dots li {
  position: static;
}
