@use '../base/settings' as *;

section.movie-details-page {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	position: relative;

	.movie-details-backdrop-container {
		position: relative;
		display: none;
	}

	.movie-details-backdrop-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.447);
		z-index: 1;
	}
}

.movie-details-box {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: center;

	img {
		width: 150px;
		border-radius: 15px;
		margin: 0.5rem;
	}

	.movie-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		h2 {
			text-align: center;
		}

		.movie-details-year-rating {
			display: flex;
			gap: 2rem;
		}

		ul {
			margin: 1rem;
			display: flex;
			gap: 0.5rem;
			flex-wrap: wrap;
			li {
				border: 1px solid $fontWhite;
				padding: 0.5rem 1rem;
				border-radius: 40px;
			}
		}
	}
}

@media (min-width: 43.75em) {
	section.movie-details-page {
		position: relative;

		img.movie-details-backdrop {
			width: 100%;
			height: 400px;
			object-fit: cover;
		}
		.movie-details-backdrop-container {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 400px;
		}

		.movie-details-backdrop-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.447);
			z-index: 1;
		}
	}
	.movie-details-box {
		position: relative;
		width: 100%;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		width: 80%;
		position: absolute;
		z-index: 3;
		top: 300px;

		h2 {
			font-size: 2rem;
		}

		.movie-details-title {
			margin-top: 6.5rem;
		}

		.movie-details-year-rating {
			font-size: 1.25rem;
			font-weight: 500;
			margin: 0.7rem;
		}

		img.image-wrapper {
			width: 240px;
		}

		.movie-details {
			align-items: center;
			gap: 0.5rem;
		}
	}
}
