@use '../base/settings' as *;

section.movies-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.7rem;
	justify-content: center;

	article.individual-movie-container {
		img {
			width: 140px;
			border-radius: 15px;
		}
	}
}
