@use '../base/settings' as *;

section.movie-details-page {
	.movie-details-backdrop-container {
		display: none;
	}

	.movie-details-backdrop-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.447);
	}
}
.movie-details-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movie-details-page .overview {
	background-color: rgba(142, 142, 237, 0.3);
	border-radius: 0.5rem;
	padding: 1rem;
}

.movie-details-box {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: center;

	img {
		width: 9.5rem;
		border-radius: 15px;
		margin: 0.5rem;
	}

	.movie-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		h2 {
			text-align: center;
			padding: 1rem 0 0 0;
		}

		.movie-details-year-rating {
			display: flex;
			gap: 2rem;
			padding-bottom: 0.8rem;
		}

		ul {
			margin: 1rem;
			display: flex;
			gap: 0.5rem;
			flex-wrap: wrap;
			li {
				border: 1px solid $fontWhite;
				padding: 0.5rem 1rem;
				border-radius: 40px;
			}
		}
	}
}

@media (min-width: 43.75em) {
	.movie-details-box {
		display: grid;
		grid-template-columns: 1fr 2fr;
		position: relative;

		img.image-wrapper {
			width: 9.5rem;
			border-radius: 15px;
			margin: 0.5rem;
			position: absolute;
			top: -50px;
			left: 25px;
			z-index: 2;
		}
	}

	section.movie-details-page {
		img.movie-details-backdrop {
			width: 100%;
			height: 400px;
			object-fit: cover;
		}

		.movie-details-backdrop-container {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 400px;
		}

		.movie-details-backdrop-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.447);
			z-index: 1;
		}
		.movie-details-year-rating {
			font-size: 1.25rem;
			font-weight: 500;
			margin: 0.7rem;
		}
		.movie-details-box img.image-wrapper {
			width: 9.5rem;
			border-radius: 15px;
			margin: 0.5rem;
			position: absolute;
			top: -50px;
			left: 8%;
			z-index: 2;
			box-shadow: 2px 2px 15px 0 #5a5ac6b0;
		}
	}

	.movie-details-page .movie-details {
		grid-column: 2/3;
		margin-right: 2rem;
	}
}

@media (min-width: 56em) {
	.movie-details-page .movie-details {
		margin-right: 4rem;
	}

	.movie-details-page p.overview {
		width: 33.5rem;
	}
	section.movie-details-page {
		.movie-details-box img.image-wrapper {
			left: 12%;
		}
	}
}

@media (min-width: 60.625em) {
	section.movie-details-page {
		.movie-details-box img.image-wrapper {
			width: 200px;
		}
	}
}
