// _navbar.scss

$primary-color: rgb(0, 183, 255);
$secondary-color: rgb(28, 5, 103);

nav {
  width: 100%;
  height: 7em;
  background-color: $secondary-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 2px solid $primary-color;

  .burger-menu {
    height: 2.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    .burger-bar {
      width: 3em;
      height: 0.5em;
      background-color: $primary-color;
      border-radius: 0.5em;

      &.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0.75em, 1.25em);
        transition: ease-out 0.2s;
      }

      &.clicked:nth-child(2) {
        transform: scale(0.1);
        transition: ease-out 0.2s;
      }

      &.clicked:nth-child(3) {
        transform: rotate(135deg) translate(-0.5em, 1em);
        transition: ease-out 0.2s;
      }

      &.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
      }
    }
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;
    position: absolute;
    top: 0;
    z-index: -1;

    &.hidden {
      display: none;
    }

    &.visible {
      display: inherit;
    }
  }
}
