// Resets
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  //added this to fix issues with cetnering my h1
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
